<div id="wrapper">
    <header>Simple SPA App</header>
    <ul class="menu">
        <li><a class="nav" data-href="/">Home</a></li>
        <li><a class="nav" data-href="/first">Second</a></li>
        <li><a class="nav" data-href="/second">Third</a></li>
    </ul>
    <Router id="container"></Router>
    <footer>此程式僅作為 DEMO 用，請勿挪作他用，圖片版權為原作者所有，若有不適，煩請告知，謝謝！</footer>
</div>
