<div class="wrapper">
    <div class="show-img-3">
        <div class="dialog">給我錢錢！</div>
    </div>
    <div class="dialog-text">
        <label>
            <input type="text" class="dialog-input" placeholder="請輸入對話文字！">
        </label>
        <input type="button" id="convert" value="轉成貼圖">
    </div>
</div>
